.animated-gradient-text {
    display: inline-block;
    position: relative;
}

.text-content {
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-size: 300% 100%;
    animation: gradient-animation infinite linear;
}

.gradient-overlay {
    position: absolute;
    inset: 0;
    border-radius: inherit;
    padding: 2px;
    /* Border width */
    background-size: 300% 100%;
    animation: gradient-animation infinite linear;
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}